@model IEnumerable<CadastroClienteMVC.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cpf">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Cpf">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Cpf">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
